.cardWrapper {
    width: 100%;
    min-width: 200px;
    background-color: var(--orange);
    color: var(--white);
    font-family: "IBM Plex Sans";
    grid-column: 2 / -2;
    padding: 2.5rem clamp(2rem, 15%, 3rem);
    border-radius: 10px;
    grid-column: 1 / -1;
    grid-row: 3 / 5;
    z-index: 2;
}

.subscriptionContainer {
    display: inline-flex;
    align-items: center;
    margin: 2em 0;
    font-size: 14px;

}

.subscriptionPrice {
    font-size: 34px;
    font-weight: bold;
    margin-inline-end: 5px;
    line-height: 1;
}

         @media screen and (min-width: 540px) {
     .cardWrapper {
         grid-row: 3 / 5;
         grid-column: 3 / 5;
             max-width: 400px;
     }
    }