html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  --blue: #66E2DC;
  --orange: #FA7453;
  --yellow: #FFB964;
  --white: #FCFAF9;
  --dark: #191826;
  --default-margin: clamp(0.5rem, 5%, 3rem);
}

body {
      background-image: url('../public/images/bg-main-desktop.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-x: center;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.heading-large {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 38px;
    letter-spacing: -0.45px;
    line-height: 46px;
    color: inherit;
    margin: 0;

}

.heading-small {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: inherit;
}

.paragraph-large {
font-family: 'IBM Plex Sans', sans-serif;
font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    color: inherit;
}

.paragraph-small {
font-family: 'IBM Plex Sans', sans-serif;
font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    color: inherit;
}

.spacer-y-2 {
  margin-block-start: 20px;
}

    @media screen and (min-width: 540px) {
      .heading-large {
      font-size: 64px;
      letter-spacing: -1px;
      line-height: 88px;
      }

      .paragraph-large {
        font-size: 18px;
        line-height: 28px;
      }
    }

        @media screen and (min-width: 1024px) {
      .heading-large {
      font-size: 88px;
      line-height: 88px;
      letter-spacing: -0.73;
      }

      .heading-small {
      font-size: 40px;
      line-height: 52px;
      }

      .paragraph-large {
        font-size: 20px;
        line-height: 34px;
      }
    }